{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2><a href = "{{book.pub_date|date:'Y-m-d'}}">{{ book.name }}</a></h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d" }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="row">
        {% if prev %}
            <a class="button button-primary" style="margin: 20px;" href="/books/{{ prev|date:'Y-m-d' }}"><{{ prev|date:'Y-m-d' }}</a>
        {% endif %}
        {% if next %}
            <a class="button button-primary" style="margin: 20px;" href="/books/{{ next|date:'Y-m-d' }}">{{ next|date:'Y-m-d' }}></a>
        {% endif %}
        </div>



    </div>
{% endblock %}